node_modules/
dist/
.env
.DS_Store
.vscode/
coverage/
npm-debug.log*
yarn-error.log*
.idea/
*.log
*.swp 
logs/
*.pid
*.seed
*.backup
.cache/
.next/
out/
.build/
package-lock.json

# Ignore UI avatars cache
ui-avatars-cache/

requirements/types/